---
---

@import "{{ site.theme }}";

html, body { font-family: 'Inconsolata', monospace; }
#sitename { margin-bottom: 0px; }
#sitename a { color: black; cursor: pointer; }
#sitename a:hover { text-decoration: underline; }
#sitedesc { color: #aaa; margin-top: 0px; }
#sitename { margin-top: 10px; }

.content { font-size: 1.1em; }
