---
---

@import "{{ site.theme }}";

html, body, h1 { font-family: 'Inconsolata', monospace; }
#sitename { margin-bottom: 0px; }
#sitename a { color: black; cursor: pointer; }
#sitename a:hover { text-decoration: underline; }
#sitedesc { color: #bcb; margin-top: 0px; }
#sitename { margin-top: 10px; }

.content { font-size: 1.1em; }

div.share-page {
    padding: 8px 15px;
    border-top: 1px solid #ddd;

    a {
        margin-left: 10px;

        border: 1px solid #ddd;
        padding: 2px 3px;
        border-radius: 2px;

        &:hover {
            background: #bcb;
        }
    }
}

td.post-name { }
td.post-date { text-align: right; font-size: 0.9em; }

/* via http://codepen.io/ArtemGordinsky/pen/GnLBq */

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #bcb; // #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
